%li{id: "slider_block_image_#{i.id}"}
  = image_tag i.src.url(:admin)
  = link_to "", redditor.admin_page_slider_block_image_path(i.imageable.page, i.imageable, i), data: {:method => :delete, remote: true, confirm: t("redditor.delete_image")}, class: "del-item"