.redditor__video{style: "width:#{video_block.width || "100%"}; padding-bottom:#{video_block.height || '66.667%'}"}
  %iframe.redditor__video__init(src="http://www.youtube.com/embed/#{video_block.youtube}" frameborder="0" allowfullscreen)