%h1 Articles
%p= link_to 'add', [:new, :admin, :article]

%ul
  - @articles.all.each do |article|
    %li
      = link_to article.title, [:edit, :admin, article]
      = link_to 'x', [:admin, article], method: :delete, data: { confirm: "Really delete?" }