dl.redditor {
  dd {
    /*нельзя задавать position-relative, иначе глючит сортировка в хроме*/
    margin: 10px -10px; padding:10px; background:#efefef;
    border: 1px solid #e8e8e8;
  }
  &.redditor_sortable dd {
    height: 50px !important; overflow: hidden;
  }
  .ui-sortable-helper, .ui-sortable-placeholder {
    /*max-height: 200px !important; overflow: hidden;*/
  }
  .field_with_errors {
    display: inline;
  }
}

.redditor__handle {
  width:20px; height: 20px; float: left;
  background: image-url('redditor/move_handler.png') center no-repeat;
  cursor: move;
}

ul.slider-block-images {
  overflow: hidden;
  padding: 0;
  li {
    margin: 0 5px 5px 0; list-style: none;
    float: left; position: relative;
    border: 1px solid #e8e8e8;
    background: #fff;
    img {display: block;}
  }
}

.redditor__sep {
  margin:5px 0;
  height:1px;
  background:#ccc
}

.redditor__add-blocks {
  margin:10px -10px; padding:10px;
}

.redditor__control {float: right;}
.redditor__change,
.redditor__delete,
.redditor__update {
  text-decoration: none;
  display: inline-block;
  text-align: center; min-width: 10px; padding: 0 5px;
  font-size: 10px; line-height: 20px;
  border: 1px solid #C2C2C2; border-radius: 15px;
  background: #F8F8F8;
  text-decoration: none;
}

.redditor__delete {
  color: #A72522;
  &:before {content: '✘'}
}
.redditor__update { 
  color: green;
  &:before {content: '✔'}
}
.redditor__change {
  background-image: image-url('redditor/change_view.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  &:before {content: "\A0"}
}

.redditor__form {
  margin-top: 25px;
}

.redditor__title {
  visibility: hidden;
  margin-top: -27px;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  vertical-align: middle;
  &:after { 
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
  }
  .redditor_sortable & {
    visibility: visible;
  }
}

.redditor__title_slider:after {
  content: image-url('redditor/big/slider.png');
}

.redditor__title_text:after {
  content: image-url('redditor/big/text.png');
}

.redditor__title_video:after {
  content: image-url('redditor/big/video.png');
}

.redditor__title_image:after {
  content: image-url('redditor/big/image.png');
}

.redditor__textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.redditor__validate {
  font-weight: bold;
  font-style: italic;
  color: #fff;
  background: rgb(226, 40, 40);
  padding: 10px 10px 10px 40px;
  border-radius: 3px
}

.line-form {
  display: inline-block; margin-right: 5px;
}

.del-item {
  text-decoration: none; position: absolute; right: 1px; bottom: 1px;
  width: 22px; height: 22px;
  background: #eee image-url('redditor/trash.png') center no-repeat;
  border-radius: 15px; border: 1px solid #aaa;
}

.full-width {
  width: 100%; box-sizing: border-box;
}

.redditor__add {
  text-decoration: none; 
  color: #222; 
  display: inline-block;
  padding: 4px 10px 4px 25px;
  border-radius: 3px; 
  border: 1px solid #ccc; 
  font-size: 11px; margin-right: 3px;
}

.redditor__sl-desc {
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
}

.redditor__sl-desc__cell-img,
.redditor__sl-desc__cell-desc {
  padding: 5px 0;
  vertical-align: top;
  border: 1px solid #ccc;
  border-width: 1px 0;
}

.redditor__sl-desc__cell-img {
  width: 1px;
  padding-right: 5px;
}

.redditor__sl-desc__area {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  margin: 0;
}

.redditor__sl-desc__img {
  display: block;
}

.redditor__sl-desc__label {
  font-weight: bold;
}

.redditor__add_txt {
  background:#f5f5f5 image-url('redditor/add_txt.png') 3px center no-repeat;
  background: image-url('redditor/add_txt.png') 3px center no-repeat, -webkit-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_txt.png') 3px center no-repeat, linear-gradient(to bottom, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
}
.redditor__add_video {
  background:#f5f5f5 image-url('redditor/add_video.png') 3px center no-repeat;
  background: image-url('redditor/add_video.png') 3px center no-repeat, -webkit-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_video.png') 3px center no-repeat, linear-gradient(to bottom, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
}
.redditor__add_photo {
  background:#f5f5f5 image-url('redditor/add_photo.png') 3px center no-repeat;
  background: image-url('redditor/add_photo.png') 3px center no-repeat, -webkit-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_photo.png') 3px center no-repeat, linear-gradient(to bottom, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
}
.redditor__add_slider {
  background:#f5f5f5 image-url('redditor/add_slider.png') 3px center no-repeat;
  background: image-url('redditor/add_slider.png') 3px center no-repeat, -webkit-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_slider.png') 3px center no-repeat, linear-gradient(to bottom, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
}

a.redactor_btn_format {
  background: image-url('redditor/no_format_text.png') center no-repeat !important;
}
a.redactor_btn_divide {
  background: image-url('redditor/destroy_block_text.png') center no-repeat !important;
}

// стили для тестирования
// dl.redditor dd:before {
//   content: "class: " attr(class); display: block; padding: 2px; background: #fcc;
// }

// dl.redditor div.redditor__form:before {
//   content: "object-name: " attr(data-object-name) "\A id: " attr(id) "\A object-id: " attr(data-object-id);
//   display: block;
//   padding: 2px;
//   background: #ffc;
//   white-space: pre;
// }