//= require fileapi

dl.redditor {
  dd {
    /*нельзя задавать position-relative, иначе глючит сортировка в хроме*/
    margin: 10px -10px; padding:10px; background:#efefef;
    border: 1px solid #e8e8e8;
    .handle {
      width:20px; height: 20px; float: left;
      background: image-url('redditor/move_handler.png') center no-repeat;
      cursor: move;
    }
  }
  &.now-sortable dd {
    height: 50px !important; overflow: hidden;
    .tit-form {display: block;}
  }
  .ui-sortable-helper, .ui-sortable-placeholder {
    /*max-height: 200px !important; overflow: hidden;*/
  }
}

ul.slider-block-images {
  overflow: hidden;
  padding: 0;
  li {
    margin: 0 5px 5px 0; list-style: none;
    float: left; position: relative;
    border: 1px solid #e8e8e8;
    background: #fff;
    img {display: block;}
  }
}

.redditor__add-blocks {
  margin:10px -10px; padding:10px;
}

.redditor__control {float: right;}
.redditor__delete, .redditor__update {
  text-decoration: none;
  display: inline-block;
  text-align: center; min-width: 10px; padding: 0 5px;
  font-size: 10px; line-height: 20px;
  border: 1px solid #C2C2C2; border-radius: 15px;
  background: #F8F8F8;
}

.redditor__delete {
  color: #A72522;
  &:before {content: '✘'}
}
.redditor__update { 
  color: green;
  &:before {content: '✔'}
}

.form-name {
  margin-top: 25px;
}

.tit-form {
  display: none; margin-top: -25px; text-align: center; font-size: 18px;
  line-height: 30px; vertical-align: middle;
  img { width: 30px; display: inline-block; vertical-align: middle;}
}

.line-form {
  display: inline-block; margin-right: 5px;
}

.del-item {
  text-decoration: none; position: absolute; right: 1px; bottom: 1px;
  width: 22px; height: 22px;
  background: #eee image-url('redditor/trash.png') center no-repeat;
  border-radius: 15px; border: 1px solid #aaa;
}

.full-width {
  width: 100%; box-sizing: border-box;
}

.redditor__add {
  text-decoration: none; 
  color: #222; 
  display: inline-block;
  padding: 4px 10px 4px 25px;
  border-radius: 3px; 
  border: 1px solid #ccc; 
  font-size: 11px; margin-right: 3px;
}

.redditor__add_txt {
  background:#f5f5f5 image-url('redditor/add_txt.png') 3px center no-repeat;
  background: image-url('redditor/add_txt.png') 3px center no-repeat, -webkit-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_txt.png') 3px center no-repeat, -moz-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_txt.png') 3px center no-repeat, -o-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_txt.png') 3px center no-repeat, linear-gradient(to bottom, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
}
.redditor__add_video {
  background:#f5f5f5 image-url('redditor/add_video.png') 3px center no-repeat;
  background: image-url('redditor/add_video.png') 3px center no-repeat, -webkit-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_video.png') 3px center no-repeat, -moz-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_video.png') 3px center no-repeat, -o-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_video.png') 3px center no-repeat, linear-gradient(to bottom, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
}
.redditor__add_photo {
  background:#f5f5f5 image-url('redditor/add_photo.png') 3px center no-repeat;
  background: image-url('redditor/add_photo.png') 3px center no-repeat, -webkit-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_photo.png') 3px center no-repeat, -moz-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_photo.png') 3px center no-repeat, -o-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_photo.png') 3px center no-repeat, linear-gradient(to bottom, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
}
.redditor__add_slider {
  background:#f5f5f5 image-url('redditor/add_slider.png') 3px center no-repeat;
  background: image-url('redditor/add_slider.png') 3px center no-repeat, -webkit-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_slider.png') 3px center no-repeat, -moz-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_slider.png') 3px center no-repeat, -o-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
  background: image-url('redditor/add_slider.png') 3px center no-repeat, linear-gradient(to bottom, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
}

a.redactor_btn_format {
  background: image-url('redditor/no_format_text.png') center no-repeat !important;
}
a.redactor_btn_divide {
  background: image-url('redditor/destroy_block_text.png') center no-repeat !important;
}

// стили для тестирования
// dl.redditor dd:before {
//   content: "class: " attr(class); display: block; padding: 2px; background: #fcc;
// }

// dl.redditor div.form-name:before {
//   content: "object-name: " attr(data-object-name) "\A id: " attr(id); display: block; padding: 2px; background: #ffc;
//   white-space: pre;
// }