
  <% content_for :js do %>

  <%= javascript_include_tag "fileapi/config", "fileapi/FileAPI.min", "fileapi/FileAPI.id3.js", "fileapi/FileAPI.exif.js", "fileapi/tmpl" %>

  <%= stylesheet_link_tag "fileapi/fileapi" %>

  <script id="b-file-ejs" type="text/ejs">
    <div id="file-<%%=FileAPI.uid(file)%>" class="js-file b-file b-file_<%%=file.type.split('/')[0]%>">
      <div class="js-left b-file__left">
        <img src="<%%=icon[file.type.split('/')[0]]||icon.def%>" width="32" height="32" style="margin: 2px 0 0 3px"/>
      </div>
      <div class="b-file__right">
        <div><a class="js-name b-file__name"><%%=file.name%></a></div>
        <div class="js-info b-file__info">size: <%%=(file.size/FileAPI.KB).toFixed(2)%> KB</div>
        <div class="js-progress b-file__bar" style="display: none">
          <div class="b-progress"><div class="js-bar b-progress__bar"></div></div>
        </div>
      </div>
      <i class="js-abort b-file__abort" title="abort">&times;</i>
    </div>
  </script>

  <script id="b-layer-ejs" type="text/ejs">
    <div class="b-layer">
      <div class="b-layer__h1"><%%=file.name%></div>
      <div class="js-img b-layer__img"></div>
      <div class="b-layer__info">
        <%%
        FileAPI.each(info, function(val, key){
          if( Object.prototype.toString.call(val) == '[object Object]' ){
            var sub = '';
            FileAPI.each(val, function (val, key){ sub += '<div>'+key+': '+val+'</div>'; });
            if( sub ){
              %><%%=key%><div style="margin: 0 0 5px 20px;"><%%=sub%></div><%%
            }
          } else {
        %>
          <div><%%=key%>: <%%=val%></div>
        <%%
          }
        });
        %>
      </div>
    </div>
  </script>


  <script type="text/javascript">
    jQuery(function ($){
      if( !(FileAPI.support.cors || FileAPI.support.flash) ){
        $('#oooops').show();
        $('#buttons-panel').hide();
      }

      $(document).on('mouseenter mouseleave', '.b-button', function (evt){
        $(evt.currentTarget).toggleClass('b-button_hover', evt.type == 'mouseenter');
      });


      if( FileAPI.support.dnd ){
        $('#drag-n-drop').show();
        $(document).dnd(function (over){
          $('#drop-zone').toggle(over);
        }, function (files){
          onFiles(files);
        });
      }


      $(document).on('change', 'input[type="file"]', function (evt){
        var files = FileAPI.getFiles(evt);
        onFiles.call(this, files);
        FileAPI.reset(evt.currentTarget);
      });


      var FU = {
        icon: {
            def:   '//cdn1.iconfinder.com/data/icons/CrystalClear/32x32/mimetypes/unknown.png'
          , image: '//cdn1.iconfinder.com/data/icons/humano2/32x32/apps/synfig_icon.png'
          , audio: '//cdn1.iconfinder.com/data/icons/august/PNG/Music.png'
          , video: '//cdn1.iconfinder.com/data/icons/df_On_Stage_Icon_Set/128/Video.png'
        },

        files: [],
        index: 0,
        active: false,

        add: function (file){
          FU.files.push(file);

          if( /^image/.test(file.type) ){
            FileAPI.Image(file).preview(35).rotate('auto').get(function (err, img){
              if( !err ){
                FU._getEl(file, '.js-left')
                  .addClass('b-file__left_border')
                  .html(img)
                ;
              }
            });
          }
        },

        getFileById: function (id){
          var i = FU.files.length;
          while( i-- ){
            if( FileAPI.uid(FU.files[i]) == id ){
              return  FU.files[i];
            }
          }
        },

        start: function (context){
          if( !FU.active && (FU.active = FU.files.length > FU.index) ){
            FU._upload(FU.files[FU.index], context);
          }
        },

        abort: function (id){
          var file = this.getFileById(id);
          if( file.xhr ){
            file.xhr.abort();
          }
        },

        _getEl: function (file, sel){
          var $el = $('#file-'+FileAPI.uid(file));
          return  sel ? $el.find(sel) : $el;
        },

        _upload: function (file, context){
          if( file ){
            file.xhr = FileAPI.upload({
              url: FU.uploadUrl,
              data: {"content_block_id": FU.contentBlockId},
              dataType: "script", // forced respond is script!!
              headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
              },
              files: { 
                file: file
              },
              upload: function (){
                FU._getEl(file).addClass('b-file_upload');
                FU._getEl(file, '.js-progress')
                  .css({ opacity: 0 }).show()
                  .animate({ opacity: 1 }, 100)
                ;
              },
              progress: function (evt){
                FU._getEl(file, '.js-bar').css('width', evt.loaded/evt.total*100+'%');
              },
              complete: function (err, xhr){
                setTimeout(xhr.response, 10)
                var state = err ? 'error' : 'done';

                FU._getEl(file).removeClass('b-file_upload');
                FU._getEl(file, '.js-progress').animate({ opacity: 0 }, 200, function (){ $(this).hide() });
                FU._getEl(file, '.js-info').append(', <b class="b-file__'+state+'">'+(err ? (xhr.statusText || err) : state)+'</b>');

                FU.index++;
                FU.active = false;

                FU.start(context);
              }
            });
          }
        }
      };

      function onFiles(files){
        var context = this; // input, на который нажали
        var $Queue = $('<div class="upload-area" />').appendTo($(this).closest("dd"));


        FU.uploadUrl = $(context).data("url");
        FU.contentBlockId = $(context).closest("dd").attr("id").replace(/\D/gi,"");

        FileAPI.each(files, function (file){
          if( file.size >= 25*FileAPI.MB ){
            alert('Sorrow.\nMax size 25MB')
          }
          else if( file.size === void 0 ){
            $('#oooops').show();
            $('#buttons-panel').hide();
          }
          else {
            $Queue.append(tmpl($('#b-file-ejs').html(), { file: file, icon: FU.icon }));

            FU.add(file);
            FU.start(context);
          }
        });
      }
    }); // ready
  </script>

<% end %>
