%li{id: "slider_block_image_#{i.id}"}
  = image_tag i.src.url(:admin)
  = link_to "", [:admin, :redditor, i.imageable.page, i.imageable, i], data: {:method => :delete, remote: true, confirm: "Удалить изображение?"}, class: "del-item"