.video-block{id: "video_block_#{video_block.id}"}
  %iframe(width="#{video_block.width || "100%"}" height="#{video_block.height || 315}" src="http://www.youtube.com/embed/#{video_block.youtube}" frameborder="0" allowfullscreen)